// Background Colors
$primary-color: #303641;
$secondary-color: #ff4e50;
// Third: #ffca5b
// Fourth: #4de5d5
// Fifth: #6ab8f7
// Sixth: #886ab5

// Font Colors
$primary-font-color: #333;
$secondary-font-color: #fff;

// Page Header
$page-header-height: 4.125rem;
$page-bar-height: 9.5rem;
