html, body {
  height: 100%;
  position: relative;
}

body {
  display: block;
}

#root {
  background-color: #f8f8f8;
  color: #333;
  height: 100%;
}

.page-container {
  width: 100%;
  height: 100%;

  .main-content {
    
  }
}
