.sidebar-menu {
  background-color: #303641;
  color: #fff;
  width: 20rem;
  max-width: 20rem;

  .sidebar-menu-inner {
    position: relative;

    .info-card {
      .info-card-text {
        
      }
    }

    .page-logo {

    }

    .primary-nav {

    }
  }
}